{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <img src="/static/githunguri-land/githunguri-land-image1.jpg"
             class="rounded float-start" alt="Land - Githunguri road"
             width="300" height="auto"
        >
      </div>
      <div class="row">
        BRAND NEW 4 BEDROOM HOUSE FOR SALE ALONG THIKA ROAD - RUIRU
      </div>
    </div>
    <div class="col">
      <div class="row">
        <img src="/static/4BR_ruiru_thika_road/4br_ruiru_image1.jpg"
             class="card-img-top" alt="Card image cap"
             width="300" height="auto"
        >
      </div>
      <div class="row">
        Prime 21 acres for sale touching Ruiru - Githunguri road
      </div>
    </div>
  </div>
</div>
{% endblock %}