{% extends "index.html" %}
{% load static %}

{% block content %}

<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image1.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">
<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image2.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">
<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image3.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">
<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image4.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">
<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image5.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">
<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image6.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">
<img src="{% static '4BR_ruiru_thika_road/4br_ruiru_image7.jpg' %}" class="img-thumbnail" alt="4bedroom mansion Ruiru" width="400" height="600">

{% endblock %}
